:host {
    width: 150px;
}
.menu-item-label {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-item-label:hover {
    background: #008cff;
    color: #fff;
}
.sub-menu {
    visibility: hidden;
}
.menu-item:hover > .sub-menu {
    visibility: visible;
}